/* Your CSS Code here. */
body {
  font-family: sans-serif;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.player {
  max-width: 750px;
  border: 5px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  background: #000;
}

.player__video {
  width: 100%;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.2);
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.3s;
}

.player:hover .player__controls {
  transform: translateY(0);
}

.progress {
  flex: 1;
  display: flex;
  align-items: center;
  height: 5px;
  background: #555;
  cursor: pointer;
}

.progress__filled {
  width: 0;
  background: #e6007e;
  flex-basis: 0;
  flex-grow: 1;
  transition: width 0.1s;
}

.player__button {
  background: none;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
}

.player__slider {
  width: 100px;
  margin: 10px;
}